.login, .signup {
  margin: 0 auto;
  max-width: 350px;
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    box-sizing: border-box;
    width: 100%;
  }
}

.demo {
  margin: 1em 0;
  padding: 1em 0;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  font-size: 0.9em;
}