.main-header {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 60px;
  background-color: #222222;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {

    h1 {
      font-size: 1.1em;
      font-weight: normal;
    }
  }

  a {
    margin: 0.5em;
    font-size: 0.9em;
    text-decoration: none;
    color: #ffffff;
  }
}

.main-nav {
  position: fixed;
  padding: 0 1em;
  width: 100%;
  height: 0;
  left: 0;
  top: 60px;
  background-color: #222222;
  transition: height 200ms;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  &.show {
    height: 100%;
  }
}

.nav-links {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.lang {
  order: -1;

  button {
    padding: 0;
    margin: 0 0.5em;
    font-size: 0.8em;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
  }
}
  
.nav-icon {
  cursor: pointer;

  .bar {
    width: 22px;
    height: 1px;
    margin: 6px 0;
    background-color: #ffffff;
    transition: 200ms;
  }

  &.show {
    .bar.one {
      transform: rotate(45deg) translate(2.5px, 2.5px);
    }
    
    .bar.two {
      transform: rotate(-45deg) translate(2.5px, -2.5px);
    }
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    position: static;
    width: auto;
    height: auto;
    flex-grow: 1;
    flex-direction: row;
    
    &.show {
      height: auto;
    }
  }

  .nav-links {
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;

    
    a {
      margin: 0 1em;
    }
  }

  .lang {
    order: initial;

    button {
      margin: 0 1em;
      font-size: 0.9em;
    }
  }

  .nav-icon {
    display: none;
  }
}